<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.sls.android.producer">
    <!--  used for send data over internet  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  used for check internet connection  -->
<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
    <!--  Just used for obtain context  -->
        <provider
            android:name=".provider.SLSContentProvider"
            android:authorities="${applicationId}.sls_provider"
            android:exported="false" />
    </application>

</manifest>

