<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.sls.android.producer.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SLSDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".example.trace.TraceActivity"
            android:exported="true"
            android:label="@string/title_activity_trace" />
        <activity android:name=".example.trace.ui.FragmentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".example.producer.ProducerExample" />
        <activity android:name=".example.producer.ProducerWithImmediately" />
        <activity android:name=".example.producer.ProducerWithNoPersistent" />
        <activity android:name=".example.producer.ProducerWithDynamicConfig" />
        <activity android:name=".example.producer.ProducerWithMultiClients" />
        <activity android:name=".example.producer.ProducerWithDestroy" />
        <activity android:name=".example.producer.ProducerWebTracking" />

        <activity android:name=".example.crash.CrashExampleActivity" />
        <activity android:name=".example.network.NetworkExample" />
        <activity android:name=".example.network.NetworkWithPolicy" />

        <activity android:name=".example.TraceDemoActivity" />

        <activity android:name=".example.TraceDemoKotlinActivity" />

        <!-- instrumentation -->
        <activity android:name=".example.instrumentation.WebViewInstrumentationActivity" />
    </application>

</manifest>